header img {
    height: 80px;
    margin-left: 40px;
    border-radius: 50%;
    
}

body {
    height: 125vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('photos/Joshs_birthday.jpeg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 15px;
}

main {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

header {
    background-color: #2d8de5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;

}

header li{
    margin: 20px;
}

header li a{
    color: black;
    text-decoration: none;
}